@page "/dashboard"

@inject AuthService _authService
@inject AccountLoader _accountLoader
@inject CreditCardLoader _creditCardLoader
@inject TransactionLoader _transactionLoader
@inject CreditCardTransactionLoader _creditCardTransactionLoader

<div class="dashboard">
    @if (isLoading)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="add-new">
            <a href=@_authService.GetAuthUrl()>Add new account</a>
        </div>

        <div class="flex-grid">
            <section class="dashboard-accounts">

                <h2>Accounts</h2>
                @foreach (var account in accounts)
                {
                    var selected = account.AccountId == selectedAccountId ? "selected" : "";
                    <div class="account clickable @selected" @onclick="@(e => FetchTransactions(account.ProviderId, account.AccountId))">
                        <div class="text-wrapper">
                            <div class="title">@account.DisplayName<span class="value">@account.CurrentBalance.ToString("C")</span></div>
                            <div><em>Available</em><span class="value">@account.AvailableBalance.ToString("C")</span></div>
                            <div><em>Overdraft</em><span class="value">@account.Overdraft.ToString("C")</span></div>
                        </div>

                        @if (account.LogoUri != null)
                        {
                            <span class="account-logo">
                                <img src="@account.LogoUri" />
                            </span>
                        }
                    </div>
                }

                @foreach (var card in creditCards)
                {
                    var selected = card.AccountId == selectedAccountId ? "selected" : "";
                    <div class="account clickable @selected" @onclick="@(e => FetchCardTransactions(card.ProviderId, card.AccountId))">
                        <div class="text-wrapper">
                            <div class="title">@card.DisplayName<span class="value">@card.CurrentBalance.ToString("C")</span></div>
                            <div><em>Available</em><span class="value">@card.AvailableBalance.ToString("C")</span></div>
                        </div>

                        @if (card.LogoUri != null)
                        {
                            <span class="account-logo">
                                <img src="@card.LogoUri" />
                            </span>
                        }
                    </div>
                }
            </section>

            <section class="dashboard-transactions">
                @if (transactions?.Length > 0)
                {
                    <h2>Transactions</h2>
                    int previousMonth = -1;
                    @foreach (var transaction in transactions)
                    {
                        if (transaction.Timestamp.Month != previousMonth)
                        {
                            previousMonth = transaction.Timestamp.Month;
                            <h3 class="transaction-title">@transaction.Timestamp.ToString("MMMM \\'yy")</h3>
                        }

                        <div class="transaction">
                            <span class="date" title="@transaction.Timestamp.ToString("G")">@transaction.Timestamp.ToString("d")</span>
                            <span class="description">@transaction.Description</span>
                            <span class="amount">@transaction.Amount.ToString("C")</span>
                        </div>
                    }
                }
            </section>
        </div>
    }
</div>

@code {
    private bool isLoading = true;
    private string selectedAccountId;
    private Account[] accounts = new Account[0];
    private Card[] creditCards = new Card[0];
    private Transaction[] transactions = new Transaction[0];

    protected override async Task OnInitializedAsync()
    {
        isLoading = false;

        // TODO - stop this getting hit twice on pre-render
        accounts = await _accountLoader.Load();
        creditCards = await _creditCardLoader.Load();

        if (accounts.Any())
        {
            var firstAccount = accounts.First();
            await FetchTransactions(firstAccount.ProviderId, firstAccount.AccountId);
        }
    }

    private async Task FetchTransactions(LiteDB.ObjectId providerId, string accountId)
    {
        selectedAccountId = accountId;
        transactions = await _transactionLoader.Load(providerId, accountId);
    }

    private async Task FetchCardTransactions(LiteDB.ObjectId providerId, string accountId)
    {
        selectedAccountId = accountId;
        transactions = await _creditCardTransactionLoader.Load(providerId, accountId);
    }
}
